/* ## CUSTOM PROP */

:root {
  /* COLOR */

  --body-bg-color: #141922;
  --navbar-bg-color: #000000;
  --footer-bg-color: #282828;

  --text-grey-color: #76787d;

  --icon-border-color: #a2ef2c;

  /* DIMENSION */

  --footer-height: 90px;
  --navbar-width: 230px;
  --header-height: 90px;

  /* UTILS */

  --header-compensation-padding: calc(var(--header-height) + 15px);

  /* GRID */

  --grid-padding: 1rem;
  --grid-margin: -1rem;
}

/* ## RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);

  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h2 {
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ## DEBUG */

.nav-debug {
  background-color: white;
  border: 1px dashed red;
  min-height: 100px;
}

.header-debug {
  background-color: white;
  border: 1px dashed red;
  height: 50px;
  width: 150px;
}

.content-debug {
  background-color: white;
  border: 1px dashed red;
  min-height: 100px;
  margin-bottom: 1rem;
}

.footer-debug {
  background-color: white;
  border: 1px dashed red;
  height: 50px;
}

/* ## GRID */

.container {
  padding: var(--grid-padding);
}

.row {
  margin: var(--grid-margin);
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: var(--grid-padding);
}

/* ## APP TOP */

#app-top {
  display: flex;

  height: calc(100vh - var(--footer-height));
}

/** NAV BAR */

#app-top-navbar {
  display: flex;
  flex-direction: column;

  height: calc(100vh - var(--footer-height));
  width: var(--navbar-width);

  background-color: var(--navbar-bg-color);

  padding-top: 1rem;

  font-size: 0.8rem;

  /* debug */
  color: var(--text-grey-color);
}

/* navbar logo */
.navbar-logo {
  display: flex;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.navbar-logo-big {
  width: 70%;
}

.navbar-logo-small {
  display: none;
}

/* navbar link list */
.link-list-home,
.link-list-search,
.link-list-library {
  display: flex;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;

  margin-bottom: 0.5rem;
}

.link-list-home {
  border-left: 1px solid var(--icon-border-color);
}

.link-list-search img,
.link-list-library img {
  filter: brightness(50%);
}

.link-img {
  width: 30px;
  aspect-ratio: 1;

  margin-right: 5px;

  cursor: pointer;
}

/* playlist */

.playlist {
  padding-left: 1rem;
  padding-right: 1rem;

  margin-top: 1rem;
}

.playlist h2 {
  font-size: 0.9rem;
}

.add-playlist {
  display: flex;
  align-items: center;

  margin-top: 1rem;
}

.add-playlist i {
  font-size: 3rem;
  margin-right: 1rem;

  cursor: pointer;
}

.playlist-list li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* account */
.account {
  margin-top: auto;

  padding-left: 1rem;
  padding-right: 1rem;
}

.download-link {
  display: flex;
  align-items: center;

  padding-bottom: 1rem;

  border-bottom: 1px solid var(--text-grey-color);
}

.download-link-img {
  width: 15px;
  height: 15px;

  margin-right: 5px;
}

.download-link-img img {
  object-fit: cover;
  object-position: center;

  filter: brightness(50%);

  cursor: pointer;
}

.account-link {
  display: flex;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 1rem;

  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.account-link-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--text-grey-color);

  overflow: hidden;

  margin-right: 10px;

  cursor: pointer;
}

/** APP TOP MAIN */

#app-top-main {
  width: calc(100% - var(--navbar-width));
}

/* APP TOP MAIN HEADER */

#app-top-main-header {
  height: var(--header-height);
  width: calc(100% - var(--navbar-width));
  position: fixed;
  top: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
}

/* APP TOP MAIN CONTENT */

#app-top-main-content {
  height: 100%;
  padding-top: var(--header-compensation-padding);
  overflow: auto;
}

.col {
  width: calc(100% / 6);
}

.card {
  /* debug */
  background-color: white;
  min-height: 200px;
}

/* ## APP PLAYER - FOOTER */

#app-player {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--footer-height);

  background-color: var(--footer-bg-color);
}

.app-player-left,
.app-player-right {
  /* debug */
  width: 250px;
}

.app-player-middle {
  width: 40%;
}

/*******************************************
                MEDIA QUERY 
*******************************************/

/* MEDIA MEDIUM */
@media screen and (max-width: 768px) {
  /* APP TOP MAIN CONTENT */
  .col {
    width: calc(100% / 4);
  }
}

/* MEDIA SMALL */
@media screen and (max-width: 576px) {
  /* APP TOP MAIN CONTENT */
  .col {
    width: calc(100% / 2);
  }
}

/* MEDIA EXTRA-SMALL */
@media screen and (max-width: 480px) {
  :root {
    /* DIMENSION */
    --navbar-width: 60px;
  }

  /** NAV BAR */

  .navbar-logo {
    padding-bottom: 1rem;
    padding-right: 0.8rem;
  }

  .navbar-logo-big {
    display: none;
  }

  .navbar-logo-small {
    display: block;
  }

  .link-list-home,
  .link-list-search,
  .link-list-library {
    padding-right: 0.5rem;
  }

  .link-list-home a,
  .link-list-search a,
  .link-list-library a {
    display: none;
  }

  .link-list-home {
    border-left: 0;
  }

  .playlist {
    display: none;
  }

  .account {
    padding-right: 0.5rem;
  }

  .download-link a,
  .account-link a {
    display: none;
  }

  .download-link {
    padding-left: 3.5px;
    padding-bottom: 0;
    border: 0;
    /* justify-content: center; */
  }
}
